<div class="col-md-4" th:fragment="projects">
			<h2>Featured projects</h2>
			<div class="col-md-12 project">
				<div class="">
					<h3 style="margin-top: 10px;">Project name</h3>
					<h4>Company name</h4>
				</div>
				<div class="info">
					<span>PM: <a href="#">John Smith</a></span>
					<br />
					<p class="issues">Issues: 42</p>
				</div>
			</div>
			<div class="col-md-12 project">
				<div class="">
					<h3 style="margin-top: 10px;">Project name</h3>
					<h4>Company name</h4>
				</div>
				<div class="info">
					<span>PM: <a href="#">John Smith</a></span>
					<br />
					<p class="issues">Issues: 42</p>
				</div>
			</div>
			<div class="col-md-12 project">
				<div class="">
					<h3 style="margin-top: 10px;">Project name</h3>
					<h4>Company name</h4>
				</div>
				<div class="info">
					<span>PM: <a href="#">John Smith</a></span>
					<br />
					<p class="issues">Issues: 42</p>
				</div>
			</div>
			<div class="col-md-12 project">
				<div class="">
					<h3 style="margin-top: 10px;">Project name</h3>
					<h4>Company name</h4>
				</div>
				<div class="info">
					<span>PM: <a href="#">John Smith</a></span>
					<br />
					<p class="issues">Issues: 42</p>
				</div>
			</div>
			<div class="col-md-12 project">
				<div class="">
					<h3 style="margin-top: 10px;">Project name</h3>
					<h4>Company name</h4>
				</div>
				<div class="info">
					<span>PM: <a href="#">John Smith</a></span>
					<br />
					<p class="issues">Issues: 42</p>
				</div>
			</div>
			<div class="col-md-12 project">
				<div class="">
					<h3 style="margin-top: 10px;">Project name</h3>
					<h4>Company name</h4>
				</div>
				<div class="info">
					<span>PM: <a href="#">John Smith</a></span>
					<br />
					<p class="issues">Issues: 42</p>
				</div>
			</div>
		</div>