<div class="col-md-6 col-sm-6 center-block" th:fragment="issueCreateForm(issue)">
	<h1>Add an issue</h1>
	<form th:acton="@{/issue/create}" th:object="${issue}" method="POST">
        <div th:if="${#fields.hasErrors('*')}" th:errors="*{all}" class="alert alert-danger"/>
		<div class="form-group">
        	<label for="issue-project">Project</label>
        	<select id="issue-project" class="form-control" placeholder="Select project">
        		<option>SITHS</option>
        		<option>Ikarus</option>
        		<option>Daedalus</option>
        	</select>
    	</div>
    	<div class="form-group">
        	<label for="issue-type">Type</label>
        	<select id="issue-type" class="form-control" placeholder="Select issue type">
        		<option>Bug</option>
        		<option>Feature</option>
        		<option>Mistake</option>
        	</select>
    	</div>
    	<div class="form-group">
        	<label for="issue-priority">Priority</label>
        	<select id="issue-priority" class="form-control" placeholder="Select issue type">
        		<option>High</option>
        		<option>Medium</option>
        		<option>Low</option>
        	</select>
    	</div>
    	<div class="form-group">
        	<label for="issue-assignation">Assign to</label>
        	<select id="issue-assignation" class="form-control" placeholder="Select issue type">
        		<option>Max</option>
        		<option>John</option>
        		<option>Jane</option>
        	</select>
    	</div>
    	<div class="form-group">
        	<label for="issue-name">Title</label>
        	<input th:field="*{title}" value="${issue.title}" type="text" id="issue-name" class="form-control" placeholder="Enter issue name" />
    	</div>
    	<div class="form-group">
        	<label for="issue-description">Description</label>
        	<textarea th:field="*{text}" value="${issue.text}" id="issue-description" class="form-control" rows="5">
        	</textarea>
    	</div>
        <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}" />
    	<button class="btn btn-lg btn-primary btn-block" type="submit">Create issue</button>
	</form>
</div>