<div class="col-md-12" th:fragment="issueView">
    <div class="col-md-8">
        <h2>
            Issue title
        </h2>
        <p>
            <a href="#">Projects</a> / <a href="#">Project</a> / <a href="#">XX-123</a>
        </p>
        <p>
            <b>Details</b>
            <br />
            Type : Bug
            <br />
            Priority : <span class="label label-success">Minor</span>
            <br />
            Status : <span class="label label-success">Resolved</span>
        </p>
        <hr />
        <p>
            <b>Description</b>
            <br />
            Lorem ipsum dolor sit amet
        </p>
        <p>
            <b>Activity</b>
            <br />
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">All</a></li>
                <li><a href="#profile" data-toggle="tab">Comments</a></li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h4>People</h4>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Assignee</h3>
            </div>
            <div class="panel-body">
                John Doe
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Reporter</h3>
            </div>
            <div class="panel-body">
                Jane Watson
            </div>
        </div>
    </div>
</div>