<div class="col-md-4" th:fragment="issues">
			<h2>Latest issues</h2>
			<div class="col-md-12 issue">
				<div class="">
					<p>XX-132</p>
					<p><a href="#" class="issueLink">Fix system crash on x64</a></p>
					<p>Project name</p>
				</div>
				<div class="info">
					<span style="margin-left: 100px;">Priority: <div class="red" style="float:none"></div></span>
					<br />
					<p class="issueType">Type: <b>Bug</b></p>
				</div>
			</div>
			<div class="col-md-12 issue">
				<div class="">
					<p>XX-132</p>
					<p><a href="#" class="issueLink">Fix system crash on x64</a></p>
					<p>Project name</p>
				</div>
				<div class="info">
					<span style="margin-left: 100px;">Priority: <div class="red" style="float:none"></div></span>
					<br />
					<p class="issueType">Type: <b>Bug</b></p>
				</div>
			</div>
			<div class="col-md-12 issue">
				<div class="">
					<p>XX-132</p>
					<p><a href="#" class="issueLink">Fix system crash on x64</a></p>
					<p>Project name</p>
				</div>
				<div class="info">
					<span style="margin-left: 100px;">Priority: <div class="red" style="float:none"></div></span>
					<br />
					<p class="issueType">Type: <b>Bug</b></p>
				</div>
			</div>
			<div class="col-md-12 issue">
				<div class="">
					<p>XX-132</p>
					<p><a href="#" class="issueLink">Fix system crash on x64</a></p>
					<p>Project name</p>
				</div>
				<div class="info">
					<span style="margin-left: 100px;">Priority: <div class="red" style="float:none"></div></span>
					<br />
					<p class="issueType">Type: <b>Bug</b></p>
				</div>
			</div>
			<div class="col-md-12 issue">
				<div class="">
					<p>XX-132</p>
					<p><a href="#" class="issueLink">Fix system crash on x64</a></p>
					<p>Project name</p>
				</div>
				<div class="info">
					<span style="margin-left: 100px;">Priority: <div class="red" style="float:none"></div></span>
					<br />
					<p class="issueType">Type: <b>Bug</b></p>
				</div>
			</div>
			<div class="col-md-12 issue">
				<div class="">
					<p>XX-132</p>
					<p><a href="#" class="issueLink">Fix system crash on x64</a></p>
					<p>Project name</p>
				</div>
				<div class="info">
					<span style="margin-left: 100px;">Priority: <div class="red" style="float:none"></div></span>
					<br />
					<p class="issueType">Type: <b>Bug</b></p>
				</div>
			</div>
		</div>