<div class="col-md-4" th:fragment="news">
			<h2>News feed</h2>
			<p>Today</p>
			<p><a href='#' class="userM">John Doe</a> post a comment to an issue <a href="#">XX-433</a></p>
			<div>
				<img src="/image/photo.png" style="display:inline-block;float: left" />
				<div style="display:inline-block;float: left;margin-left: 20px;">
					<p>Mary Jane has joined project <a href="#">Icarus</a></p>
					<p><a href="#">view details</a></p>
				</div>
			</div>
			<hr style="clear:both"/>
			<p>Today</p>
			<p><a href='#' class="userM">John Smith</a> has added a <a href="#">new issue</a> to project <a href="#">Daedalus</a></p>
			<p><a href='#' class="userW">Liza Berg</a> fixed issue XX-89, <a href="#">view details...</a></p>
			<hr style="clear:both"/>
			<p>Today</p>
			<p><a href='#' class="userM">John Smith</a> has added a <a href="#">new issue</a> to project <a href="#">Daedalus</a></p>
			<p><a href='#' class="userW">Liza Berg</a> fixed issue XX-89, <a href="#">view details...</a></p>
			<div>
				<img src="/image/photo.png" style="display:inline-block;float: left" />
				<div style="display:inline-block;float: left;margin-left: 20px;">
					<p>Mary Jane has joined project <a href="#">Icarus</a></p>
					<p><a href="#">view details</a></p>
				</div>
			</div>
			<hr style="clear:both"/>
		</div>